@keyframes slider-animation-1 {
    0% {
        transform: scale(1.16) translate(75px, 20px)
    }
    27.27273% {
        transform: scale(1) translate(0px, 0px)
    }
    100% {
        transform: scale(1.16) translate(85px, 30px)
    }
    97.72727% {
        transform: scale(1.17333) translate(80px, 25px)
    }
    100% {
        transform: scale(1.16) translate(75px, 20px)
    }
}

@keyframes slider-animation-2 {
    22.72727% {
        transform: scale(1.16) translate(-10px, 40px)
    }
    52.27273% {
        transform: scale(1) translate(0px, 0px)
    }
    100% {
        transform: scale(1.16) translate(-10px, 40px)
    }
}

@keyframes slider-animation-3 {
    47.72727% {
        transform: scale(1.16) translate(40px, -10px)
    }
    77.27273% {
        transform: scale(1) translate(0px, 0px)
    }
    100% {
        transform: scale(1.16) translate(40px, -10px)
    }
}

@keyframes slider-animation-4 {
    72.72727% {
        transform: scale(1.16) translate(-75px, -20px)
    }
    100% {
        transform: scale(1) translate(0px, 0px)
    }
}
