@import '../shared/variables';

.navbar {
    height: 115px;
    background-color: rgba(16, 16, 12, 0.9);
    transition: all .3s;

    @media (min-width: 768px) {
        padding-top: 82px;
    }

    &.navbar-small {
        top: -70px;

        .navbar-brand {
            width: 55px;
            height: 20px;
            top: 80px;
        }

        .navbar__logo {
            width: 55px;
            height: 20px;
        }
    }

    @media (max-width: 767px) {
        #navbar {
            margin-right: -20px;
        }

        .container {
            background-color: $color-bg;
            z-index: 10;
        }

        &-header {
            height: 115px;
        }
    }

    &-brand {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto !important;
        display: block;
        width: 142px;
        height: 52px;
        padding: 0;
        transition: all .2s;
    }

    &__logo {
        width: 142px;
        height: 52px;
        display: block;
        transition: all .2s;
    }

    & &__places {
        &-item {

            @media (max-width: 767px) {
                display: inline-block;
            }

            &:after {
                float: left;
                content: '/';
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        @media (max-width: 767px) {
            text-align: center;
            padding: 20px 0;
        }
    }

    @media (max-width: 767px) {
        & &__menu {
            margin-right: 0;
            &-item {
                display: block;
                width: 100%;
                text-align: center;
                padding: 25px 0;
                border-top: 1px solid darken($color-font-secondary, 20%);

                &:last-child {
                border-bottom: 3px solid darken($color-font-primary, 20%);
                }

                &.active,
                &:focus,
                &:hover {
                    background-color: darken($color-font-secondary, 20%);
                    a {
                        color: $color-font-primary;
                    }
                }
            }

            &-link {
                float: none !important;
            }
        }
    }

    & &__places,
    & &__menu {
        &-link {
            padding: 0;
            float: left;
            margin: 0 8px;
            text-transform: uppercase;
            color: $color-font-secondary;
            transition: color .3s;

            &.active,
            &:focus,
            &:hover {
                background-color: transparent;
                color: $color-font-primary;
            }
        }

        &-item {
            &--lang {
                margin-right: 20px;

                a {
                    display: inline-block;

                    @media (max-width: 767px) {
                        margin: 0;

                        &:first-child {
                            &:after {
                                content: ' /';
                            }
                        }
                    }

                    &.active {
                        opacity: .4;
                        color: $color-font-secondary;
                    }
                }
            }
        }
    }

    &-toggle {
        border-color: $color-font-secondary;
        margin-top: 20px;
        margin-right: 20px;

        .icon-bar {
            background: $color-font-secondary;
        }
    }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}
